<?xml version="1.0" encoding="UTF-8"?>
<emdc>
	<server class="com.briup.environment.server.ServerztImpl">
	  <port>10000</port>
	</server>
	<dbstore class="com.briup.environment.server.DBStoreImpl">
	   <driver>oracle.jdbc.driver.OracleDriver</driver>
	   <url>jdbc:oracle:thin:@127.0.0.1:1521:XE</url>
	   <username>envir</username>
	   <password>envir</password>
	   <batch-size>500</batch-size>
	</dbstore>
    <client class="com.briup.environment.client.ClientImpl">
       <ip>127.0.0.1</ip>
       <port>10000</port>
    </client>
    <gather class="com.briup.environment.client.GatherImpl">
      <src-file>src/radwtmp</src-file>
      <record-file>src/record</record-file>
    </gather>
    <log class="com.briup.environment.util.LogImpl">
      <log-file>src/log4j.properties</log-file>
    </log>
    <backup class="com.briup.environment.util.BackUpImpl">
      <!--<backup-file>src/backup.txt</backup-file> -->
       <backup-file>back_temp/</backup-file>
    </backup>
    <login class="com.briup.environment.gui.LoginImpl">
		<login-file>src/login.png</login-file>
		<background-file>src/background.jpg</background-file>
	</login>
</emdc>